body {
  background-color: #f5f6ff;
}

.kitchen {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.orders {
  position: relative;
  text-align: center;
  background-color: #fff;
  height: calc(100vh - 6rem);
  max-height: calc(100vh - 6rem);
  /* overflow-y: auto; */
  padding: 1rem 0.8rem;
  border-radius: 4px;
  border: 2px solid #ccd1ff;
  z-index: 10;
}

.kitchen-title {
  color: #03314b;
  background-color: #ffcd33;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.card-container-kitchen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  margin: 1.5rem 0;
  z-index: 1;
}

.card-kitchen {
  position: relative;
  background-color: #eff1f5;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  cursor: grab;
  z-index: 20;
}

.card-kitchen:active {
  cursor: grabbing;
}

.kitchen-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.kitchen-table {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1.2rem;
  font-weight: 600;
  background-color: #03314b;
  font-size: 1.2rem;
  border-radius: 8px;
}

.card-btn {
  padding: 0.4rem;
  background-color: #2ecc71;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.card-btn--decline {
  background-color: #e74c3c;
}

/* Personalizar el scrollbar para Chrome y Safari */
.orders::-webkit-scrollbar {
  width: 10px;
}

.orders::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

/* Personalizar el scrollbar para Firefox */
.orders::-moz-scrollbar {
  width: 10px;
}

.orders::-moz-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.cooking {
  grid-column: 2 / 5;
  text-align: center;
  padding: 1rem 0.8rem;
  border: 2px solid #ccd1ff;
  margin: 0 1rem;
  background-color: #fff;
}

.card-container-cooking {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 1rem;
  gap: 35px 15px;
  margin: 1.5rem 0;
}

.card-cooking {
  background-color: #ffff99;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.card-check {
  background-color: #2ecc71;
  position: absolute;
  color: white;
  padding: 0.2rem;
  border-radius: 4px;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.kitchen-waiter {
  font-weight: 600;
  font-size: 1.2rem;
}

.arrow-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.arrow-texts {
  display: flex;
  align-items: center;
  gap: 15px;
}

.kitchen-more-btn {
  justify-self: flex-end;
}

.kitchen-more-btn button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.order-list {
  text-align: start;
  padding: 0.2rem;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ticket-info {
  text-align: start;
  background-color: #fff;
  border: 1px solid #ccd1ff;
  padding: 1rem;
}
