.container {
  position: absolute;
  top: 191px;
  left: 500px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 400px;
}
