.navbar {
  background-color: rgb(255, 255, 255);
  padding-inline: 20px;
  border-bottom: #00a2ff solid 1px;
  width: 100%;
  color: #03314b;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.buttonNav {
  background-color: #282952;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  border: none;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.5s;
  font-size: 17px;
  font-weight: 600;
}

.buttonNav:hover {
  background-color: #7179eb;
  cursor: pointer;
}

.navLogin {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navUserInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navUserInfo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.navUserBtn button {
  background-color: #03314b;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  padding: 0.7rem 1.3rem;
  border: none;
  cursor: pointer;
}

.navUserBtn button:hover {
  background-color: #022b43;
}
