.body {
  display: grid;
  grid-template-columns: 35vh auto;
  background-color: #f5f6ff;
  margin-top: 30px;
}
.h2 {
  margin-left: 60px;
  margin-bottom: 30px;
  color: #03314b;
  font-weight: 600;
}

.flechita {
  position: absolute;
}
.navbar {
  background-color: #ffffff;
  color: #03314b;
  padding: 15px;
  border: solid 1px #ccd1ff;
  margin: 10px;
  margin-left: 50px;
  border-radius: 4px;
  height: 240px;
  width: 256px;
}

.btn {
  background-color: #ffffff;
  color: #03314b;
  font-weight: 700;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height: 56px;
}

.btn:hover {
  background-color: #ccd1ff;
  color: #ffffff;
}

.btnn {
  background-color: #03314b;
  color: #ffffff;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height: 56px;
}

.props {
  background-color: #ffffff;
  color: #03314b;
  padding: 15px;
  border: 2px solid #f5f6ff;
  margin: 10px;
  border: solid 1px #ccd1ff;
  border-radius: 4px;
}

.containerTitle {
  display: grid;
  margin-inline: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f5f6ff;
  color: #03314b;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 100px 50px 100px 80px 400px 80px 90px;
  height: 56px;
  border-radius: 4px;
}

.container {
  display: grid;
  margin: 20px;
  border: solid 1px #ccd1ff;
  padding: 5px;
  padding-right: 15px;
  font-size: 20px;
  color: #03314b;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 100px 50px 100px 80px 400px 80px 90px;
  height: 112px;
  border-radius: 4px;
}

.container img {
  border-radius: 4px;
  height: 96px;
  width: 96px;
}

.containerStaff {
  display: grid;
  margin: 20px;
  border: solid 1px #ccd1ff;
  padding: 5px;
  padding-right: 15px;
  font-size: 20px;
  color: #03314b;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 100px 50px 100px 80px 400px 80px 90px;
  height: 112px;
  border-radius: 4px;
}

.containerStaff img {
  border-radius: 4px;
  height: 96px;
  width: 96px;
}

.containerTickets {
  display: grid;
  margin: 20px;
  border: solid 1px #ccd1ff;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 20px;
  color: #03314b;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 100px 50px 100px 80px 400px 80px 90px;
  height: 112px;
  border-radius: 4px;
}

.containerTickets img {
  border-radius: 4px;
  height: 96px;
  width: 96px;
}

.btnedit {
  background-color: #ccd1ff;
  color: #03314b;
  font-weight: 700;
  border: none;
  height: 29px;
  border-radius: 4px;
}
.btnedit:hover {
  cursor: pointer;
}

.btndel {
  background-color: #f8c2c2;
  color: #03314b;
  font-weight: 700;
  border: none;
  height: 29px;
  border-radius: 4px;
}
.btndel:hover {
  cursor: pointer;
}

/* MODAL */

.buttonNew {
  position: absolute;
  top: 90px;
  right: 45px;
  background-color: #03314b;
  color: white;
  font-weight: 700;
  font-size: 15px;
  border: solid 2px #000000;
  border-radius: 4px;
  padding: 10px;
  align-items: center;
}

.buttonNew:hover {
  cursor: pointer;
}

.modalContainer {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: #000000af;
  display: grid;
  place-items: center;
}

.modalBody {
  background-color: #f5f6ff;
  border-radius: 4px;
  width: 40%;
  min-width: 400px;
  position: relative;
  padding: 40px;
  z-index: 20;
  justify-content: center;
  align-items: center;
}

.modalClose {
  position: absolute;
  background-color: #f5f6ff;
  top: 35px;
  right: 40px;
  font-size: 30px;
  font-weight: 600;
  color: #03314b;
  border: none;
  padding: 5px;
}

.modalClose:hover {
  background-color: #f5f6ff;
  color: #ff9898;
}

.form {
  display: grid;
  grid-template-columns: 65vh;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.inputs {
  border: #ccd1ff 1px solid;
  border-radius: 4px;
  height: 40px;
  font-size: 20px;
}

.inputs:focus {
  border: #5c5e80 1px solid;
  border-radius: 4px;
  height: 40px;
  font-size: 20px;
  padding: 5px;
}

.buttonCreate {
  color: #ecf0f1;
  font-size: 17px;
  background-color: #03466d;
  border: 1px solid #055c8e;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 6px 0px #03314b;
  transition: all 0.1s;
}

.buttonCreate:active {
  box-shadow: 0px 2px 0px #03314b;
  position: relative;
  top: 2px;
}
