/* CSS CardMenu */
.header {
  position: absolute;
  top: 0px;
  left: 900px;
  height: 68px;
  margin: 0px;
  color: #03314b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  background-color: #f5f6ff;
}

/* Css Menu */

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: solid 1px #ccd1ff;
  margin-left: 50px;
  padding: 30px;
  border-radius: 4px;
  height: 581px;
}

.tittleMenuGroup {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  white-space: nowrap;
  width: 140px;
  height: 32px;
  margin-left: 5px;
  top: -8px;
  margin-bottom: 24px;
  right: 232px;
}
.nav {
  display: flex;
  background-color: #f5f6ff;
  border: solid 1px #ccd1ff;
  border-radius: 4px;
  width: 600px;
  justify-content: space-around;
}

.nav_ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: fit-content;
}

.nav_li {
  width: fit-content;
  text-align: center;
  border: none;
  margin: 5px;
  font-size: 20px;
  border-radius: 4px;
  padding: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  align-items: center;
  justify-content: center;
}

.nav_li:hover {
  background-color: #ccd1ff;
  cursor: pointer;
}

.btnActive {
  background-color: #03314b;
  color: #ffffff;
  width: fit-content;
  text-align: center;
  border: none;
  margin: 5px;
  font-size: 20px;
  border-radius: 4px;
  padding: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  align-items: center;
  justify-content: center;
}

/* CARD */

.cardContainer {
  height: 500px;
  width: 641px;
  overflow-y: scroll;
}

.cardContainer::-webkit-scrollbar {
  width: 9px;
}

.cardContainer::-webkit-scrollbar-thumb {
  background-color: #ccd1ff;
  border-radius: 4px;
}

.card {
  margin-top: 10px;
  margin-left: 19px;
  width: 603px;
  display: flex;
  flex-direction: column;
  border: solid #ccd1ff;
  border-radius: 6px;
}

.card_head {
  display: flex;
}

.card_conten {
  padding-bottom: 18px;
  margin-left: 15px;
  height: 112px;
}

.card_tittle {
  margin-top: 2px;
}

.card_img {
  position: relative;
  width: 128px;
  height: 128px;
  left: 8px;
  top: 6px;
  background: url(.png);
  border-radius: 4px;
}

.card_line {
  width: 100%;
  background-color: #d9d9d9;
  margin-top: 14px;
}

.card_foot {
  display: flex;
  justify-content: space-around;
}

.card_price {
  position: relative;
  right: 72px;
  top: 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  color: #03314b;
}

.card_btn {
  position: relative;
  left: 85px;
  height: 48px;
  width: 48px;
  margin: 10px;
  font-size: 22px;
  color: #03314b;
  border: none;
  border-radius: 10px;
  background-color: #ccd1ff;
}

.card_btn:hover {
  cursor: pointer;
}

.card_btncount {
  position: relative;
  left: 85px;
  height: 48px;
  width: 48px;
  font-size: 22px;
  border: none;
  color: #03314b;
  border-radius: 10px;
  background-color: #f5f6ff;
}

/* css Cart */

.cart {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #f5f6ff;
  border: solid 1px #ccd1ff;
  margin-right: 50px;
  padding: 30px;
  border-radius: 4px;
}

.containerCart {
  overflow-y: scroll;
  height: 317px;
  width: 710px;
  position: relative;
  right: 24px;
  top: 19px;
}
.containerCart::-webkit-scrollbar {
  width: 9px;
}

.containerCart::-webkit-scrollbar-thumb {
  background-color: #ccd1ff;
  border-radius: 4px;
}

.tittleCartGroup {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  white-space: nowrap;
  width: 140px;
  height: 32px;
  margin-left: 5px;
  top: -8px;
  right: 251px;
}

.tittleOrder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 140px;
  height: 32px;
  left: 715px;
  top: 112px;
}

.productsCartContainer {
  box-sizing: border-box;
  position: relative;
  width: 630px;
  height: 50px;
  left: 60px;
  top: 18px;
  background: #ffffff;
  border: 1px solid #ccd1ff;
  border-radius: 4px;
  margin-top: 7px;
  padding: 5px;
}

.productName {
  position: relative;
  left: 43px;
  top: -28px;
  font-size: 25px;
  white-space: nowrap;
  width: 10px;
}

.quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 0px;
  position: relative;
  width: 32px;
  height: 32px;
  left: 3px;
  top: 4px;
  background: #f5f6ff;
  border-radius: 4px;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 8px;
  position: relative;
  width: 0px;
  height: 32px;
  left: 591px;
  top: -59px;
  cursor: pointer;
  border-radius: 8px;
}

.btnFinishOrder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  color: #ffffff;
  position: absolute;
  width: 144px;
  height: 40px;
  left: 1293px;
  top: 584px;
  background: #03314b;
  border-radius: 4px;
}
.iconButton {
  position: relative;
  margin-right: -42px;
  height: 37px;
  padding-inline: 14px;
  left: -40px;
  background: none;
  border: none;
}

.iconButton:hover {
  cursor: pointer;
}

.inputName {
  box-sizing: border-box;
  position: absolute;
  width: 144px;
  height: 40px;
  left: 1289px;
  top: 87px;
  background: #ffffff;
  border: 1px solid #ccd1ff;
  border-radius: 4px;
  font-size: 20px;
}

.containerTable {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  white-space: nowrap;
  width: 140px;
  height: 32px;
  margin-left: 5px;
  top: 41px;
  right: 251px;
  font-size: 18px;
}

.inputTable {
  z-index: 20;
  margin-top: 0px;
  width: 80px;
  height: 25px;
  font-size: 20px;
}

.total {
  position: absolute;
  width: 271px;
  height: 24px;
  left: 809px;
  top: 592px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 24px;
  color: #03314b;
}

@media only screen and (max-width: 1024px) {
  .body {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    background-color: #f5f6ff;
    margin: auto;
  }

  .menu {
    margin-left: 10px;
    padding: 10px;
    height: 884px;
  }

  .tittleMenuGroup {
    width: 140px;
    height: 32px;
    top: -8px;
    right: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .nav {
    border-radius: 4px;
    width: 336px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 11px;
  }

  .nav_ul {
    width: 100%;
  }

  .nav_li {
    margin: 5px;
    font-size: 12px;
    border-radius: 4px;
    padding: 10px;
  }

  .btnActive {
    font-size: 12px;
    padding: 10px;
  }

  /* CARD */

  .cardContainer {
    height: 751px;
    width: 359px;
    overflow-y: scroll;
  }

  .card {
    margin: 0px;
    width: 340px;
    height: 213px;
    margin-top: 7px;
  }

  .card_conten {
    padding-bottom: 18px;
    margin-left: 15px;
    height: 157px;
  }

  .card_line {
    margin-top: -6px;
  }

  .card_tittle {
    margin-top: 15px;
    margin-left: -1px;
  }

  .card_img {
    width: 120px;
    height: 106px;
    left: 8px;
    top: 20px;
  }

  .card_price {
    position: relative;
    right: 29px;
    top: 19px;
  }

  .card_btn {
    position: relative;
    left: 32px;
    height: 36px;
    width: 31px;
    margin: 10px;
    font-size: 22px;
    color: #03314b;
    border: none;
    border-radius: 10px;
    background-color: #ccd1ff;
  }

  .card_btncount {
    position: relative;
    left: 31px;
    height: 36px;
    width: 31px;
    font-size: 22px;
    border: none;
    color: #03314b;
    border-radius: 10px;
    background-color: #f5f6ff;
  }

  /* CART */

  .cart {
    margin-right: 10px;
    padding: 10px;
    border-radius: 4px;
  }

  .containerCart {
    height: 484px;
    width: 345px;
    left: -3px;
    top: 14px;
    align-items: start;
  }

  .tittleCartGroup {
    top: 5px;
    right: 102px;
  }

  .productsCartContainer {
    width: 329px;
    left: 0px;
    top: 89px;
    height: 50px;
  }

  .productName {
    left: 43px;
    top: -28px;
    font-size: 25px;
    width: 10px;
  }

  .btnFinishOrder {
    padding: 14px 24px;
    left: 599px;
    top: 888px;
  }

  .actionButtons {
    left: 292px;
    border-radius: 8px;
    width: 1px;
  }

  .inputName {
    width: 158px;
    height: 50px;
    left: 397px;
    top: 135px;
  }

  .containerTable {
    position: relative;
    right: 106px;
  }

  .inputTable {
    margin-top: 0px;
    width: 80px;
    height: 30px;
  }

  .total {
    width: 271px;
    height: 24px;
    left: 397px;
    top: 789px;
  }
}

@media only screen and (min-width: 1903px) {
  /* Css Menu */

  .menu {
    height: 728px;
  }

  .tittleMenuGroup {
    margin-left: 5px;
    top: -4px;
    right: 325px;
  }
  .nav {
    width: 791px;
  }

  .nav_li {
    padding-left: 42px;
    padding-right: 42px;
  }

  .nav_li:hover {
    background-color: #ccd1ff;
    cursor: pointer;
  }

  .btnActive {
    padding-left: 42px;
    padding-right: 42px;
  }

  /* CARD */

  .cardContainer {
    width: 826px;
  }

  .card {
    width: 790px;
  }

  .card_conten {
    margin-left: 20px;
  }

  .card_tittle {
    margin-top: 6px;
  }

  .card_price {
    right: 119px;
    font-size: 22px;
  }

  .card_btn {
    left: 131px;
  }

  .card_btn:hover {
    cursor: pointer;
  }

  .card_btncount {
    left: 131px;
  }

  /* css Cart */

  .containerCart {
    width: 900px;
    right: 24px;
    top: 19px;
  }

  .tittleCartGroup {
    top: 12px;
    right: 345px;
  }

  .productsCartContainer {
    width: 825px;
    left: 60px;
    top: 18px;
  }

  .actionButtons {
    left: 779px;
    width: 10px;
  }

  .btnFinishOrder {
    width: 161px;
    left: 1653px;
    top: 729px;
  }

  .inputName {
    width: 184px;
    height: 49px;
    left: 1628px;
    top: 96px;
  }

  .containerTable {
    width: 140px;
    height: 35px;
    top: 64px;
    right: 337px;
    font-size: 22px;
  }

  .inputTable {
    height: 32px;
  }

  .total {
    left: 998px;
    top: 735px;
  }
}
