/* CSS CardMenu */
.header {
  position: absolute;
  top: 0px;
  left: 900px;
  height: 68px;
  margin: 0px;
  color: #03314b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  background-color: #f5f6ff;
}

/* Css Menu */

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: solid 1px #ccd1ff;
  margin-left: 50px;
  padding: 30px;
  border-radius: 4px;
  height: 646px;
}

.tittleMenuGroup {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  white-space: nowrap;
  width: 140px;
  height: 32px;
  margin-left: 5px;
  top: -8px;
  margin-bottom: 24px;
  right: 232px;
}
.nav {
  display: flex;
  background-color: #f5f6ff;
  border: solid 1px #ccd1ff;
  border-radius: 4px;
  width: 600px;
  justify-content: space-around;
}

.nav_ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: start;
  height: fit-content;
}

.nav_li {
  width: fit-content;
  text-align: center;
  border: none;
  margin: 5px;
  font-size: 20px;
  border-radius: 4px;
  padding: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  align-items: center;
  justify-content: center;
}

.nav_li:hover {
  background-color: #ccd1ff;
  color: #03314b;
  cursor: pointer;
}

.hacer_pedido {
  width: 342px;
  border-radius: 20px;
  height: 64px;
  color: white;
  background-color: #00b574;
  margin-top: 10px;
  border: none;
  box-shadow: 0px 0px 5px 1px black;
}

/* CARD */

.cardContainer {
  height: 500px;
  width: 641px;
  overflow-y: scroll;
}

.cardContainer::-webkit-scrollbar {
  width: 9px;
}

.cardContainer::-webkit-scrollbar-thumb {
  background-color: #ccd1ff;
  border-radius: 4px;
}

.card {
  margin-top: 10px;
  margin-left: 19px;
  width: 603px;
  display: flex;
  flex-direction: column;
  border: solid #ccd1ff;
  border-radius: 6px;
}

.card_head {
  display: flex;
}

.card_conten {
  padding-bottom: 18px;
  margin-left: 15px;
  height: 112px;
}

.card_tittle {
  margin-top: 2px;
}

.card_img {
  position: relative;
  width: 179px;
  height: 108px;
  left: 8px;
  top: 6px;
  background: url(.png);
  border-radius: 4px;
}

.card_line {
  width: 100%;
  background-color: #d9d9d9;
  margin-top: 14px;
}

.card_foot {
  display: flex;
  justify-content: space-around;
}

.card_price {
  position: relative;
  right: 72px;
  top: 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  color: #03314b;
}

.card_btn {
  position: relative;
  left: 85px;
  height: 48px;
  width: 48px;
  margin: 10px;
  font-size: 22px;
  color: #03314b;
  border: none;
  border-radius: 10px;
  background-color: #ccd1ff;
}

.card_btn:hover {
  cursor: pointer;
}

.card_btncount {
  position: relative;
  left: 85px;
  height: 48px;
  width: 48px;
  font-size: 22px;
  border: none;
  color: #03314b;
  border-radius: 10px;
  background-color: #f5f6ff;
}

/* css Cart */

.cart {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #f5f6ff;
  border: solid 1px #ccd1ff;
  margin-right: 50px;
  padding: 30px;
  border-radius: 4px;
}

/* .containerCart {
  overflow-y: scroll;
  height: 390px;
  width: 750px;
} */
.containerCart {
  overflow-y: scroll;
  height: 390px;
  width: 710px;
  position: relative;
  right: 24px;
}
.containerCart::-webkit-scrollbar {
  width: 9px;
}

.containerCart::-webkit-scrollbar-thumb {
  background-color: #ccd1ff;
  border-radius: 4px;
}

.tittleCartGroup {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  white-space: nowrap;
  width: 140px;
  height: 32px;
  margin-left: 5px;
  top: -8px;
  right: 251px;
}

.tittleOrder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 140px;
  height: 32px;
  left: 715px;
  top: 112px;
}

.productsCartContainer {
  box-sizing: border-box;
  position: relative;
  width: 602px;
  height: 50px;
  left: 58px;
  top: 18px;
  background: #ffffff;
  border: 1px solid #ccd1ff;
  border-radius: 4px;
  margin-top: 7px;
  padding: 5px;
}

.productName {
  position: relative;
  left: 43px;
  top: -28px;
  font-size: 25px;
  white-space: nowrap;
}

.quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 0px;
  position: relative;
  width: 32px;
  height: 32px;
  left: 3px;
  top: 4px;
  background: #f5f6ff;
  border-radius: 4px;
}

.btnFinishOrder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  color: #ffffff;
  position: absolute;
  width: 144px;
  height: 40px;
  left: 1293px;
  top: 648px;
  background: #03314b;
  border-radius: 4px;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 8px;
  position: relative;
  width: 32px;
  height: 32px;
  left: 558px;
  top: -59px;
  cursor: pointer;
  border-radius: 8px;
}

.imgButton:hover {
  cursor: pointer;
}

.form {
}

.inputForm {
  display: flex;
  position: absolute;
  width: 630px;
  height: 89px;
  left: 808px;
  top: 534px;
  background: #ffffff;
  border: 1px solid #ccd1ff;
  border-radius: 4px;
  text-align: start;
  align-items: flex-start;
}

@media only screen and (max-width: 1024px) {
  .body {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    background-color: #f5f6ff;
    margin: auto;
  }

  .menu {
    margin-left: 10px;
    padding: 10px;
    height: 884px;
  }

  .tittleMenuGroup {
    width: 140px;
    height: 32px;
    top: -8px;
    right: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .nav {
    border-radius: 4px;
    width: 336px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 11px;
  }

  .nav_ul {
    width: 100%;
  }

  .nav_li {
    margin: 5px;
    font-size: 12px;
    border-radius: 4px;
    padding: 10px;
  }

  /* CARD */

  .cardContainer {
    height: 751px;
    width: 359px;
    overflow-y: scroll;
  }

  .card {
    margin: 0px;
    width: 340px;
    height: 213px;
    margin-top: 7px;
  }

  .card_conten {
    padding-bottom: 18px;
    margin-left: 15px;
    height: 157px;
  }

  .card_line {
    margin-top: -6px;
  }

  .card_tittle {
    margin-top: 15px;
    margin-left: -1px;
  }

  .card_img {
    position: relative;
    width: 120px;
    height: 106px;
    left: 8px;
    top: 20px;
  }

  .card_price {
    position: relative;
    right: 29px;
    top: 19px;
  }

  .card_btn {
    position: relative;
    left: 42px;
    height: 36px;
    width: 31px;
    margin: 10px;
    font-size: 22px;
    color: #03314b;
    border: none;
    border-radius: 10px;
    background-color: #ccd1ff;
  }

  .card_btncount {
    position: relative;
    left: 41px;
    height: 36px;
    width: 31px;
    font-size: 22px;
    border: none;
    color: #03314b;
    border-radius: 10px;
    background-color: #f5f6ff;
  }

  /* CART */

  .cart {
    margin-right: 10px;
    padding: 10px;
    border-radius: 4px;
  }

  .tittleCartGroup {
    top: 5px;
    right: 102px;
  }

  .productsCartContainer {
    width: 311px;
    left: -15px;
    top: 19px;
  }

  .productName {
    left: 43px;
    top: -28px;
    font-size: 25px;
  }

  .btnFinishOrder {
    padding: 14px 24px;
    left: 599px;
    top: 888px;
  }

  .actionButtons {
    left: 279px;
    border-radius: 8px;
    width: 32px;
  }
}
