/* CSS CardMenu */
.header {
  position: absolute;
  top: 0px;
  left: 900px;
  height: 68px;
  margin: 0px;
  color: #03314b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  background-color: #f5f6ff;
}

/* Css Menu */

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: solid 1px #ccd1ff;
  margin-left: 50px;
  padding: 30px;
}
.nav {
  display: flex;
  background-color: #f5f6ff;
  border: solid 1px #ccd1ff;
  border-radius: 4px;
  width: 750px;
  justify-content: space-around;
}

.nav_ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: start;
  height: fit-content;
}

.nav_li {
  width: fit-content;
  text-align: center;
  border: none;
  margin: 5px;
  font-size: 20px;
  border-radius: 4px;
  padding: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  align-items: center;
  justify-content: center;
}

.nav_li:hover {
  background-color: #ccd1ff;
  color: #03314b;
  cursor: pointer;
}

.hacer_pedido {
  width: 342px;
  border-radius: 20px;
  height: 64px;
  color: white;
  background-color: #00b574;
  margin-top: 10px;
  border: none;
  box-shadow: 0px 0px 5px 1px black;
}

/* CARD */

.cardContainer {
  height: 500px;
  width: 745px;
  overflow-y: scroll;
}

.cardContainer::-webkit-scrollbar {
  width: 9px;
}

.cardContainer::-webkit-scrollbar-thumb {
  background-color: #ccd1ff;
  border-radius: 4px;
}

.card {
  margin: 10px;
  width: 700px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 10px -6px black;
}

.card_head {
  display: flex;
}

.card_conten {
  padding: 10px;
}

.card_tittle {
  margin: 0;
}

.card_img {
  max-height: 150px;
  border-radius: 15px 0px 0px 0px;
}

.card_line {
  width: 100%;
  background-color: #d9d9d9;
}

.card_foot {
  display: flex;
  justify-content: space-around;
}

.card_btn {
  height: 48px;
  width: 48px;
  margin: 10px;
  font-size: 22px;
  color: #03314b;
  border: none;
  border-radius: 10px;
  background-color: #ccd1ff;
}

.card_btn:hover {
  cursor: pointer;
}

.card_btncount {
  height: 48px;
  width: 48px;
  border: none;
  color: #03314b;
  border-radius: 10px;
  background-color: #f5f6ff;
}

/* css Cart */

.cart {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #ccd1ff;
  border: solid 1px #ffffff;
  margin-right: 50px;
  padding: 40px;
}
